@font-face {
  font-family: "Body Text Fit";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Body Text Fit"),
    url("@/assets/fonts/BodyText-FitRegular.ttf") format("truetype"),
    url("@/assets/fonts/BodyText-FitRegular.eot") format("embedded-opentype"),
    url("@/assets/fonts/BodyText-FitRegular.woff") format("woff"),
    url("@/assets/fonts/BodyText-FitRegular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  &::before,
  &::after {
    pointer-events: none;
  }
}

body {
  color: #232323;
  font-family: "Manrope", sans-serif;
  background-color:#FFFFFF;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1340px;

  @media (max-width: 1024px) {
    max-width: 420px;
  }
}

.base-title {
  font-family: "Body Text Fit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 91px;
  margin: 0;

  span {
    color: var(--primary);
  }

  @media(max-width: 1023px) {
    font-size: 40px;
    line-height: 45px;
  }
}
